/* Add this code to theme.css */
.theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    cursor: pointer;
}

body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}



.fb-comments-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.fb-comments {
    width: 100%; /* Ensure that the plugin takes the full width of its container */
    max-width: 550px; /* Optional: Set a max-width if needed */
}
